
{% extends 'base_logged_in.html' %}

{% block content %}
<div id='dashboard_wrapper'>
    <div id="dashboard_title">
        <h1>Welcome to your dashboard</h1>
    </div>

    <div id='account_details'>
      <h1>Your  details</h1>
      <div id="email_block">
        <p id='email'>Account Email:</p>
        <p id='user_email'>{{ user.email }}</p>
      </div>

      <div id="name_block">
        <p id='name'>Your name:</p>
        <p id='user_name'>{{ user.username }}</p>
      </div>

    </div>
    <div id='cv_list'>

      <a href="{% url 'resume_new' %}"> <button class="button" id='create_new_cv_dashboard'>Create new CV</button></a>

      <div id='resume_list_dashboard'>
        <h1>Resume list</h1>

        {% for resume in resumes %}
          <div class='resume_in_list'>
            <a href="{% url 'resume_detail' pk=resume.pk %}">
                {{ resume.name }}
            </a>
          </div>
        {% endfor %}

      </div>
    </div>

</div>
{% endblock %}
