
{% extends 'base_logged_in.html' %}

{% block content %}
<div id='dashboard_wrapper'>
    <div id="dashboard_title">
        <h1>Welcome to your dashboard</h1>
    </div>
    <div>
      <h1>Your login details</h1>
      <p>Account Email:</p>
      <p>Account Password:</p>
      <p>First Name:</p>
      <p>Last Name:</p>
    </div>

    <div id="companies_list">
      <h1>List of companies</h1>
      <button class="button">Add new company</button>

          {% for company in companys %}
                <div class='company'>
                    <h1>{{ company.name }} </h1>
                </div>



          {% endfor %}
    </div>
        <h1>Create a new job post below:</h1>
        <a href="{% url 'post_new' %}">
          <div id='post_job'><button id='post_jobs_button'>Post a new job</button></div>
        </a>

</div>
{% endblock %}
