
{% extends 'base_logged_in.html' %}

{% block content %}
<div id='dashboard_wrapper'>
    <div id="dashboard_title">
        <h1>Welcome to your dashboard</h1>
    </div>

    <div id='account_details'>
      <h1>Your  details</h1>
      <div id="email_block">
        <p id='email'>Account Email:</p>
        <p id='user_email'>{{ user.email }}</p>
      </div>
      <div id="name_block">
        <p id='name'>Your name:</p>
        <p id='user_name'>{{ user.username }}</p>
      </div>
    </div>
    <div id='cv_list'>
    <a href="{% url 'resume_new' %}">
    <button class="button">Create new CV</button>
    </a>
    </div>

    <div id="companies_list">
      <div id='companies_header'>
        <div id='companies_title'>
          <h1>List of companies</h1>
        </div>
        <div id='companies_button'>
        <a href="{% url 'company_new' %}">
          <button class="button">Add new company</button>
        </a>
        </div>
      </div>

          {% for company in companys %}
                <div class='company'>
                  <a href="{% url 'company_detail' pk=company.pk %}">
                    <h1>{{ company.name }} </h1>
                  </a>
                    <h1>{{ company.comp.all }} </h1>


                </div>





          {% endfor %}
      </div>
        <h1>Create a new job post below:</h1>
        <a href="{% url 'post_new' %}">
          <div id='post_job'><button id='post_jobs_button'>Post a new job</button></div>
        </a>
</div>
{% endblock %}
