{% extends 'base_logged_in.html' %}

{% block content %}
<div id ='homepage_wrapper'>
    <div id="index_1">
      <p>The light-weight editor for creating your CV</p>
    </div>
    <div id="index_2">
      <p>Clutter free. Free up your space with no toolbar</p>
    </div>
    <div id="index_3">
      <p>Edit inline as you go along</p>
    </div>
    <div id="index_4">
      <p>Create links to share your CV with employers/p>
    </div>
    <div id="index_5">
      <p>The right job deserves the best CV</p>
      <div id="home_button_div">
        <a href='/jobs'> <button id="post_jobs_button">Get Started</button></a>
      </div>
    </div>
</div>
{% endblock %}
