#wrapper {
  max-width: 70%;
  background-color: white;
  margin: 0 auto;
  display: block;
  clear: both;
}
#login {
height: 350px;
min-width: 400px;
max-width: 600px;
border: 2px;
border-style: solid;
margin: 30 auto;
background-color: ;
border-color: grey;
}

.sign-in-header {
  text-align: center;

}
.email-field {
  height: 40px;
  width: 300px;
  padding: 5px;
  margin: 20px;
}

.password-field {
  height: 40px;
  width: 300px;
  padding: 5px;
  margin: 20px;
}

.sign-in-button {
  width: 400px;
  min-height: 40px;
}

.button {
background-color: #00B9CE;
color: white;
width: 150px;
height: 50px;
border-style: none;
border-radius: 5px;
font-size: 20px;
margin: 0;
}

.button:hover {
background-color: white;
color: #202020;
}

body {
  background-color: #F2F2F2;
}

#header {
  background-color: white;
  height: 200px;
}

#title {
  max-width: 50%;
  background-color: white;
  display: inline-block;
  height: 200px;
}

#navigation {
  background-color: white;
  max-width: 50%;
  display: inline-block;
  float: right;
}

ol {
  list-style: none;
}

#navigation li {
  display: inline;
  padding-right: 20px;
}
/****************************************************

                  footer styles

*****************************************************/

#footer {
  background-color: #202020;
  height: 400px;
  width: 100%;
  clear: both;
  display: block;
  color: grey;
  padding: 0px;
  margin: 0px;
}

#footer_1 {
width: 42%;
height: 80%;
display: inline-block;
padding: 60px 5px 5px 100px;
background-color: blue;
margin: 0;
float: left;
}

#footer_2 {
width: 42%;
height: 80%;
display: inline-block;
padding: 60px 5px 5px 100px;
background-color: yellow;
margin: 0;
float: left;
}

#footer li {
color: grey;
}

#footer li:hover {
color: white;
}

#footer p {
color: grey;
padding: 10px 40px 40px 0px;
}


#footer h1 {
  padding: 0px;
  margin: 0px;
  color: white;
}


#footer li {
  padding: 0px;
  margin: 0px;
}

#footer ol {
  padding: 0px;
  margin: 0px;
}
