#wrapper {
  width: 80%;
  min-height: 500px;
  background-color: white;
  margin: 0 auto;
  padding: 0px;
  display: block;
  clear: both;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

h2 {

  margin: 0;
  padding: 0;
}

#login {
height: 350px;
min-width: 400px;
max-width: 600px;
border: 2px;
border-style: solid;
margin: 30 auto;
background-color: ;
border-color: grey;
}

a:visited {
text-decoration: none;
color: inherit;
}

a:link {
text-decoration: none;
}

.sign-in-header {
  text-align: center;

}
.email-field {
  height: 40px;
  width: 300px;
  padding: 5px;
  margin: 20px;
}

.password-field {
  height: 40px;
  width: 300px;
  padding: 5px;
  margin: 20px;
}

.sign-in-button {
  width: 400px;
  min-height: 40px;
}

.button {
background-color: #00B9CE;
color: white;
width: 150px;
height: 50px;
border-style: none;
border-radius: 5px;
font-size: 20px;
margin: 0;
}

.button:hover {
background-color: white;
color: #202020;
}



/*********************************************

                header/navigation

**********************************************/
#outer_header {
  width: 80%;
  height: 100px;
  margin: 0 auto;
}

#inner_header {
  background-color: white;
  height: 100px;
  width: 100%;
  margin: 0 auto;
}

#title {
  width: 20%;
  display: inline-block;
  height: 50px;
  background-color: #00B9CE;
  color: white;
  border-radius: 5px;
  margin: 10px;
  padding: 1%  1% 1% 4%;
}

#navigation {
  width: 60%;
  height: 100px;
  display: inline-block;
  float: right;
  color: grey;
  text-align: right;
}

ol {
  list-style: none;
}

#navigation li {
  display: inline;
  padding-right: 20px;
}
/****************************************************

                  footer styles

*****************************************************/

#footer {
  background-color: #202020;
  height: 400px;
  width: 100%;
  clear: right;
  color: grey;
  padding: 0px 0px -50px 0px;
  margin: 0px 0px -50px -10px;
  float: right;
}

#footer_outer {
  margin: 0 auto;
  padding: 0px 0px 0px 0px;
  width: 80%;
  height: 100%;
}

#footer_1 {
width: 45%;;
height: 300px;
display: inline-block;
padding: 50px 0px 0px 10px;
margin: 0;
float: left;
}

#footer_2 {
width: 45%;
height: 300px;
display: inline-block;
padding: 50px 0px 0px 100px;
margin: 0;
float: left;
}

#footer li {
color: grey;
padding: 0px;
margin: 0px;
}

#footer a:hover {
color: white;
}

#footer p {
color: grey;
padding: 10px 40px 40px 0px;
}


#footer h1 {
  padding: 0px;
  margin: 0px;
  color: white;
}

#footer ol {
  padding: 0px;
  margin: 0px;
}
