#wrapper {
  max-width: 70%;
  background-color: yellow;
  margin: 0 auto;
}

  background-colour {
  blue;
}
body {
  background-color: ;
}

#header {
  background-color: white;
}

#title {
  max-width: 50%;
  background-color: blue;
  display: inline-block;
}

#navigation {
  background-color: orange;
  max-width: 50%;
  display: inline-block;
  float: right;
}

#navigation li {
  display: inline;
  padding-right: 20px;
}

#footer {
  background-color: grey;
}

h1 {
  color: red;
  colour: red;
  padding: 50px;
}

p {color: green;}
