#detail_wrapper p {
  color: #292e35;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
}

#detail_wrapper h1 {
  color: #292e35;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 25px;
}

#detail_wrapper {
  width: 900px;
  margin: 100px auto;
  line-height: 30px;
}

#return_to_dashboard {
  height: 80px;
  width: 550px;
  margin: 0 auto;
  display: block;
  background-color: #1e304c;
  border-radius: 10px;
  padding: 40px 0px 1px 120px;
}

#return_to_dashboard  h1 {
  color: white;
  font-size: 40px;
}

#company_name_div {
  width: 900px;
  height: 50px;
  margin: 100px 0 0 0;
}

#company_name_title {
  display: inline-block;
  width: 220px;
  height: 40px;
}

#company_actual_name {
  display: inline-block;
  height: 40px;
  width: 650px;
}

#date_div {
  height: 50px;
  width: 900px;
}

#created_on {
  display: inline-block;
  height: 40px;
  width: 220px;
  float: left;
}

#actual_creation_date {
  display: inline-block;
  height: 40px;
  width: 300px;
}

#description_div {
  height: 370px;
  width: 900px;
  margin: 60px 0 0 0;
}

#description_title {
  display: block;
  height: 40px;
  width: 300px;
  margin: 0 0 10px 0;
}

#actual_description {
display: block;
height: 300px;
width: 900px;
overflow: scroll;
}

#small_company_logo {

}

#small_logo_image {

  height: 90px;
  width: 90px;
}
#large_company_logo {
  margin: 30px 0 0 0;
}

#large_logo_image {
  height: 300px;
  width: 300px;
}

#edit_company {
  margin: 30px 0 0 0;
}
