
body {
  margin: 0;
  padding: 0;
  background-color: #e3ecf9;
}


#resume_list_dashboard h1 {
  color: #1e304c;
}

#dashboard_title a {
  text-decoration: none;
  color: #eaedf2;
}

p {
  font-size: 20px;
  color: white;
  padding: 0;
  margin: 0;
}

a {
  font-size: 30px;
  margin: 0;
  padding: 0;


}

#cv_list a {

color: white;
text-decoration: none;
}


/****************************************************

                  dashboard styles

*****************************************************/
#dashboard_wrapper {
  width: 80%;
  margin: 30px auto;
  min-height: 1500px;
  clear: both;
  display: block;
}

#dashboard_title {
  width: 100%;
  background-color: #1e304c;
  margin: 20 auto;
  height: 200px;
  color: white;
  clear: both;
  display: block;

}

#dashboard_title h1 {
  font-size: 40px;
  padding: 0;
  margin: 0;
}

#welcome_message {
  display: inline-block;
  float: left;
  margin: 130px 30px 0 180px;
  width: 600px;
}

#logout {
  width: 100px;
  display: inline-block;
  float: right;
}

#account_details {
  height: 250px;
  width: 1050px;
  display: block;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;


}
#left_block {
  width: 49%;
  height: 250px;
  display: inline;
  float: left;
  background-color: #27b2d8;
  border-radius: 10px 0 0 10px;
}

.profile_image {
  display: block;
  margin: 20px auto;
}

#right_block {
  width: 50%;
  height: 250px;
  display: inline;
  float: right;
  background-color: #27b2d8;
  border-radius: 0 10px 20px 0;
  box-sizing: border-box;
  padding: 20px 0 0 20px;
}

#your_details {
  display: block;
  height: 50px;
  width: 80%;
  padding: 0 0 0 30px;
  margin: 15px 10px 10px 10px;

}
#email_block {
  display: block;
  height: 80px;
  width: 80%;
  padding: 0 0 0 30px;
  margin: 15px 10px 10px 10px;

}

#email {
  display: inline;
}

#user_email {
    display: inline;
    min-width: 50px;
}

#name_block {
    display: inline;
    width: 80%;
    height: 80px;
    padding: 0 0 0 30px;
    margin: 15px 10px 10px 10px;
}

#name {
    display: inline;
}

#user_name {
  display: inline;
  min-width: 50px;
}
#resume_list_title_outer {
  height: 100px;
  width: 1000px;
  margin: 14px auto;

  display: block;
}

#resume_list_title {

  height: 60px;
  width: 700px;
  display: inline-block;
  margin: 20px;
  overflow: hidden;
  float: left;
}

#new_cv {

  height: 60px;
  width: 200px;
  margin: 20px;
  display: inline-block;
  float: right;
  padding-top: 15px;
}

.new_cv_button {
  background-color: #27b2d8;
  color: white;
  width: 150px;
  height: 35px;
  border-style: none;
  border-radius: 5px;
  font-size: 20px;
  display: block;
  margin: 0;
  text-align: center;
  float: right;
}

#cv_list {
  height: 95%;
  width: 1050px;
  display: block;
  margin: 0 auto;
  padding: 20px 20px 20px 20px;

}

#resume_list_dashboard {
  width: 100%;
  margin: 0 auto;
  height: 1200px;
  padding: 20px 0px 20px 0px;
  display: block;
}

.resume_in_list {
  height: 100px;
  width: 1000px;
  display: block;
  background-color: #1e304c;
  margin: 14px auto;
  border-radius: 10px;

}

.resume_delete_button {
background-color: red;
color: white;
width: 150px;
height: 35px;
border-style: none;
border-radius: 5px;
font-size: 20px;
display: inline-block;
margin: 0;
text-align: center;
float: right;
}

.resume_title {
  display: inline-block;
  width: 700px;
  height: 35px;
  margin: 20px;
  float: left;
}

.resume_delete {

  display: inline-block;
  width: 200px;
  height: 60px;
  margin: 20px;
  overflow: hidden;
  float: right;
}
