/****************************************************

                  home page styles

*****************************************************/
homepage_wrapper {
  color: grey;
}

#index_1 {
  background-color: white;
  height: 700px;
  padding: 150px 0px 20px 0px;

}

#index_description {
  width: 1000px;
  height: 150px;
  background-color: white;
  font-size: 50px;
  margin: 0 auto;
  text-align: center;
}

#index_description h1 {
  font-size: 50px;
}

 img {
   display: block;
   margin: 0 auto;
}
