/****************************************************

                  home page styles

*****************************************************/
homepage_wrapper {
  color: grey;
}

#index_1 {
  background-color: white;
  height: 700px;
  padding: 150px 0px 20px 0px;
  margin-bottom: 30px;

}

#index_description {
  width: 1000px;
  height: 150px;
  background-color: white;
  font-size: 50px;
  margin: 0 auto;
  text-align: center;
}

#index_description h1 {
  font-size: 50px;
}

 img {
   display: block;
   margin: 0 auto;
}

#index_2 {
  background-color: #00B9CE;
  height: 500px;
  min-width: 1450px;
  padding: 150px 0px 20px 0px;

}

#index_2_left {
  height: 400px;
  width: 500px;
  display: inline-block;
  float: left;
  margin: 0px 0 0 200px;
}

#index_2_left  h1 {
  font-size: 80px;
  text-align: center;
  color: white;
}

#index_2_right {

  height: 400px;
  width: 400px;
  display: inline-block;
  float: right;
  margin: 0 190px 0 0px;
}

#write {
  border-radius:30%;

}

#index_3 {
  min-width: 1450px;
  height: 500px;
  padding: 150px 0px 20px 0px;
  margin: 30px 0 0 0;
}

#index_3_left {
  height: 400px;
  width: 450px;
  display: inline-block;
  float: left;
  margin: 0px 0 0 150px;
}

#index_3_right {
  height: 400px;
  width: 550px;
  display: inline-block;
  float: right;
  margin: 20px 190px 0 0px;

}

#index_3_right h1 {
  font-size: 80px;
  text-align: center;
  color: #292c30;
}

#index_4 {
  width: 1000px;
  height: 400px;
  background-color: #eaedf2;
  padding: 120px 0px 0px 500px;
}

#get_started {
  height: 200px;
  width: 400px;
  border-radius: 20px;
  font-size: 40px;
  background-color: #1e304c;
color: white;
}

#get_started:focus {
  border-style: none;
  outline: 0px solid transparent;
}
