/****************************************************

                  home page styles

*****************************************************/
homepage_wrapper {
  color: grey;

}
#index_1 {
  background-color: #00B9CE;
  height: 700px;
  padding: 80px 120px;
}

#index_2 {
  background-color: #00B9CE;
  height: 700px;
  padding: 80px 120px;
}

#index_3 {

  height: 700px;
  padding: 80px 120px;
}

#index_4 {
  background-color: #00B9CE;
  height: 700px;
  padding: 80px 120px;
}

#index_5 {
  height: 700px;
  padding: 80px 120px;
}

#index_1 h1 {
  font-size: 50px;
  text-align: center;
  margin: 60 0 60 0;
}

 img {
   display: block;
  margin: auto;
}
