/****************************************************

                  jobs page styles (entire jobs list)

*****************************************************/
#jobs_title {
  background-color: #ECECEC;
  height:150px;
  width: 100%;
  margin: 0 0 30px 0;
  padding: 50px 0px 30px 0px;
}

#jobs_title h1 {
  font-size: 100px;
  color: #202020;
  text-align: center;
  padding: 0;
  margin: 0;
}


#jobs_list {
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  padding: 50px 50px 50px 50px;
  overflow: scroll;
}

.post {
  width: 950px;
  height: 150px;
  margin: 0px;
  padding: 30px;
  border-top-color: grey;
  border-top-style: solid;
  border-top-width: 1px;
}

.post:hover {
  background-color: #DCEAFF;
}

.post h1 {
  color: #202020;
}

.post p {
  color: #292e35;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
}

.post:nth-child(odd) {
  background-color: #ECECEC;
}

.post:nth-child(odd):hover {
  background-color: #DCEAFF;
}

.job_list_company_logo {
  display: inline-block;
  float: left;
  width: 200px;
  height: 130px;

}

.column_one {
  display: inline-block;
  float: left;
  width: 230px;
  height: 150px;
  margin: 0 0 0 10px;
}


.column_two {
  display: inline-block;
  float: left;
  width: 230px;
  height: 150px;
  margin: 0 0 0 10px;
}

.column_three {
  display: inline-block;
  float: left;
  width: 230px;
  height: 150px;
  margin: 0 0 0 10px;
}
