/****************************************************

                  jobs page styles (entire jobs list)

*****************************************************/

#jobs_title {
  background-color: #DCEAFF;
  height:150px;
  width: 1200px;
  margin: 60px auto;
  padding: 50px 0px 30px 0px;
}

#jobs_title h1 {
  font-size: 100px;
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
}

#jobs_list {
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  padding: 50px 50px 50px 50px;
  overflow: scroll;
}

#jobs_list a:visited {
  color: inherit;
}

.post {
  width: 950px;
  height: 150px;
  margin: 0px;
  padding: 15px;
  border-top-color: grey;
  border-top-style: dotted;
  border-top-width: 1px;
}

.post:hover {
  background-color: #DCEAFF;
  transition: all 200ms ease;
}

.post h1 {
  color: #202020;
}

.post p {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 20px;
}

.post:nth-child(odd) {

}

.post:nth-child(odd):hover {
  background-color: #DCEAFF;
}

.job_list_company_logo {
  display: inline-block;
  float: left;
  width: 200px;
  height: 130px;
  padding: 20px 0 0 0;

}

.actual_company_logo {
  width: 90px;
  height: 90px;
}

.text {
  display: inline-block;
  float: left;
  width: 700px;
  height: 150px;
  margin: 0 0 0 10px;
}

.text_upper {
  height: 50px;
  width: 700px;
  display: block;
  float: left;
  margin: 0 0 0 0;
}

.title {
  display: inline-block;
  float: left;
  margin-right: 10px;
  color: #f44271;
}

.connector {
  display: inline-block;
  margin-right: 5px;
  color: #202020;
}


.company_name {
  color:
  height: 50px;
  display: inline-block;
  float: left;
}

.text_lower {
  color: #202020;
}

.column_one {
  display: inline-block;
  float: left;
  width: 200px;
  height: 100px;
  margin: 0 0 0 0px;
}

.map {
  margin-right: 1px;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.location {
  display: inline-block;
  height: 15px;
  width: 20px;
}

.duration {
  margin-left: 25px;
}

.column_two {
  display: inline-block;
  float: left;
  width: 230px;
  height: 100px;
  margin: 0 0 0 10px;
}

.column_three {
  display: inline-block;
  float: left;
  width: 230px;
  height: 150px;
  margin: 0 0 0 0px;
}
