
/*

font-family: 'Nunito Sans', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Hind', sans-serif;

*/

h1 {
  color: black;
}

p {
  color: #21262d;
  margin: 0px;
  padding: 0px;

}

font {
  color: #292e35;
  font-family: 'Nunito Sans', sans-serif;
}
a {
  color: pink;
}

body {
  min-height: 200px;
  margin: 10px 50px;
}

#return_to_dashboard {
  float: right;
  height: 40px;
  width: 40px;
}

#cv_name_div {
  height: 70px;
  width: 200px;
  display: none;
}

#resume_menu {

}

#resume_button {
margin: 0px 0px 0px 1000px;
}

#content_wrapper {
margin: 80px auto;
width: 70%;
}

#content_div {
  margin: 20px 0px 0px 10px;
padding: 20px;
box-shadow: 0px 0px 34px 6px rgba(224,224,224,1);
min-height: 700px;
min-width: 900px;
font-family: 'Noto Sans', sans-serif;
}

[contenteditable]:focus {
    outline: 0px solid transparent;
}

.tooltip_class {
  height: 50px;
  width: 400px;
  background-color: #2e3238;
  display: block;
  position: absolute;
  margin: 15px 20px;
  border-radius: 6px;
  z-index: 1;
}

#newMenu {
z-index: 1;
position: absolute;
}

#createMenuOneID {

    border-radius: 5px;
    text-align: center;
    padding: 20px 0px 0px 0px;
    background-color: #a9bbd8;

}

#createMenuOneID a {

  text-decoration: none;
}

#createMenuTwoID {
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    padding: 20px 0px 0px 0px;
    background-color: #a9bbd8;
}

#createMenuThreeID {
    border-radius: 5px;
    text-align: center;
    padding: 20px 0px 0px 0px;
    background-color: #a9bbd8;
}


.newModalClass {
    z-index: 1;
    position: fixed;
}

#inner_tooltip {
  margin: 15 0 5 20;
}

#image_icon_id {
  height: 30px;
  width: 30px;
  background-color: red;
  display: none;
  z-index: 0;
  position:relative;
}
