{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <title> Dashboard </title>
    <script src="https://use.fontawesome.com/5f01ab2269.js"></script>
    <link href="{% static 'css/dashboard.css' %}" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div id="dashboard_title">

          <div id='logout'>
              <a href='/logout'> Logout</a>
          </div>
          <div id='welcome_message'>
              <h1>Your Dashboard</h1>
          </div>
    </div>
        <div id='dashboard_wrapper'>
            <div id='account_details'>
                    <div id='left_block'>
                      <img src="/static/nextstep/profile.png" alt="marilyns image" width="195" height="200" class='profile_image'/>
                    </div>
                    <div id='right_block'>
                          <div id='your_details'>
                              <h1>Your  details</h1>
                          </div>
                          <div id="email_block">
                              <p id='email'>Account Email:</p>
                              <p id='user_email'>{{ user.email }}</p>
                          </div>

                          <div id="name_block">
                              <p id='name'></p>
                              <p id='user_name'></p>
                          </div>
                    </div>
              </div>

              <div id='all_companies'>
                    <div id="company_intro">
                        <div id="company_section_title">
                            <h1>Companies</h1>
                        </div>
                        <div id="create_new_company">
                          <a href="{% url 'company_new' %}"><button id="create_new_company_button">Create new company</button></a>
                        </div>
                    </div>
                    <div id="companies_list">
                        {% for company in companys %}

                            <div class='company'>
                                <div class="company_title">
                                    <a href="{% url 'company_detail' pk=company.pk %}">
                                      <h4>{{ company.name }}</h4>
                                    </a>
                                </div>
                                <div class="company_delete_button_div">
                                  <a href="{% url 'company_delete' pk=company.pk %}">
                                    <button class="company_delete_button"> Delete</button>
                                  </a>
                                </div>
                            </div>

                      {% endfor %}
                    </div>
            </div>
            <div id="all_jobs">
                <div id="jobs_intro">
                    <div id="jobs_section_title">
                      <h1>Jobs</h1>
                    </div>
                    <div id="create_new_job">
                        <a href="{% url 'post_new' %}"><button id="create_new_job_button">Create New Job</button></a>
                    </div>
                </div>

                <div id="jobs_list">
                    {% for post in posts %}

                    <div class="single_jobs">
                          <div class="post_title_div">
                              <a href="{% url 'post_edit' pk=post.pk %}">
                                  <h4>{{ post.title }}</h4>
                              </a>
                          </div>
                          <div class="post_delete_button_div">
                              <a href="{% url 'post_delete' pk=post.pk %}">
                                <button class="post_delete_button">Delete</button>
                              </a>
                          </div>
                    </div>


                    {% endfor %}
                </div>

            </div>

        </div>

  </body>
</html>
