{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>  Shared Resume </title>
    <link href="{% static 'css/share.css' %}" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hind|Mukta|Noto+Sans|Nunito+Sans" rel="stylesheet">
  </head>
  <body>

        <div id='share_content_wrapper'>
            <div id='share_content_div'>
              <p>What is this share content?
            </div>
        </div>

    <script type="text/javascript" src="{% static 'js/update_share_view_ajax.js' %}" ></script>


  </body>
</html>
