{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>  Content Editable </title>
    <script src="https://use.fontawesome.com/5f01ab2269.js"></script>
    <link href="{% static 'css/no_permission.css' %}" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hind|Mukta|Noto+Sans|Nunito+Sans" rel="stylesheet">
  </head>
  <body>
<div >
    <div id='no_permission_wrapper'>

      <h1>Sorry, you do not have permission to view this page.</h1>
      <a href="/"><button>Return to homepage</button></a>
  </div>
</div>

  </body>
</html>
