{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>  Content Editable </title>
    <script src="https://use.fontawesome.com/5f01ab2269.js"></script>
    <link href="{% static 'css/text.css' %}" type="text/css" rel="stylesheet">
  </head>
  <body>
    <div id='resume_menu'>
      <button class='button' type="submit" id="save_resume_button">Save</button>
      <a href="{% url 'dashboard' %}">
      <div id='return_to_dashboard'>
        <i class="fa fa-ellipsis-h fa-2x"></i>
      </a>
      </div>
    </div>


        <div id='content_wrapper'>
            <p>Resume detail</p>
            <div class='cv' contenteditable="true" id='content_div'>
              <p>Content Editable: Start typing to create your CV</p>
              <p>This is the second paragraph, yeahsdfs
              detail</p>
            </div>
        </div>


    <script type="text/javascript" src="{% static 'js/content.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/resume_save.js' %}" ></script>
  </body>
</html>
