{% extends 'base_logged_in.html' %}

{% block content %}

<div id='new_company_wrapper'>
    <h1>Create a new company</h1>
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
      <div>
      {{ form.name }}
      </div>
      <div>
      {{ form.description}}
      </div>
      <div>
        <p>Small Logo</p>
      {{ form.small_logo}}
      </div>
      <div>
        <p>Large Logo</p>
      {{ form.large_logo}}
      </div>

      <button type="submit">Submit</button>
    </form>
</div>

{% endblock %}
