{% extends 'base_logged_out.html' %}

{% block content %}

<div id="jobs_list_wrapper">

      <form id="search_form">
            <div id='search-wrapper'>
                  <div id='title-with-arrow'>
                      <h1 id="jobs_title">Search </h1>
                      <i class="arrow-down"></i>
                  </div>
                  <div id="duration" class="search-area">
                          <h3 class="search_title">Duration</h3>
                          <div class="search-options">
                              <p>Contract<input type="checkbox" name="duration" value="contract"></input></p>
                              <p>Permanent<input type="checkbox" name="duration" value="permanent"></input></p>
                          </div>
                  </div>

                  <div id="experience" class="search-area">
                          <h3 class="search_title">Experience</h3>
                          <div class="search-options">
                              <p>Intern<input type="checkbox" name="experience" value="intern"></input></p>
                              <p>Junior<input type="checkbox" name="experience" value="junior"></input></p>
                              <p>Mid-level<input type="checkbox" name="experience" value="mid"></input></p>
                              <p>Senior<input type="checkbox" name="experience" value="senior"></input></p>
                          </div>
                  </div>

                  <div id="hours" class="search-area">
                          <h3 class="search_title">Hours</h3>
                          <div class="search-options">
                              <p>Full-time<input type="checkbox" name="hours" value="fulltime"></input></p>
                              <p>Part-time<input type="checkbox" name="hours" value="parttime"></input></p>
                          </div>
                  </div>

                  <div id="area" class="search-area">
                          <h3 class="search_title">Area</h3>
                          <div class="search-options">
                              <p>Engineering<input type="checkbox" name="area" value="engineering"></input></p>
                              <p>Customer<input type="checkbox" name="area" value="customer"></input></p>
                              <p>Product<input type="checkbox" name="area" value="product"></input></p>
                              <p>Marketing<input type="checkbox" name="area" value="marketing"></input></p>
                              <p>Sales<input type="checkbox" name="area" value="sales"></input></p>
                              <p>Operations<input type="checkbox" name="area" value="operations"></input></p>
                          </div>
                  </div>
            </div>
            <div id="bottom-search-buttons" class="search-area">
                <button type="submit" id="start_search">Search</button>
                <button type="reset" id="empty_search">Reset</button>
            </div>
      </form>


    <div id="jobs_list">

          {% for post in posts %}
          <a href="{% url 'post_detail' pk=post.pk %}">
            <div class="post">

                      <div class="job_list_company_logo">
                        <img src="{{ post.owned_by_company.small_logo.url }}" class="actual_company_logo"></img>
                      </div>

                      <div class="text">
                          <div class="text_upper">
                            <p class="title">{{ post.title }}</p>
                            <p>{{ post.owned_by_company }}</p>
                          </div>

                          <div class="text_lower">
                                  <p>{{ post.location }}</p>
                                  <p class="duration">{{ post.duration}}</p>
                                  <p>{{ post.created_date }}</p>
                                  <p>{{ post.hours }} </p>
                                  <p>{{ post.experience }} </p>
                                  <p>{{ post.salary }} </p>
                          </div>
                      </div>
            </div>
          </a>
          {% endfor %}
    </div>

</div>

{% endblock %}
