{% extends 'base_logged_in.html' %}

{% block content %}
<div class='title_div'>
    <div class='job_title'>
      <h1>{{post.title}}</h1>
    </div>
    <a href="/jobs/">
      <div id='return_to_jobs_list'>
          <h1> <<<   Return to jobs list</h1>
      </div>
    </a>
</div>

<div id='individual_post_wrapper'>


    {% if post.published_date %}

    <div class='date'>
        <p> Posted on {{ post.published_date }} </p>
    </div>
    {% endif %}

    <div class='description'>
      <p>{{ post.description }}</p>
    </div>
    <a href="{% url 'post_edit' pk=post.pk %}"><button class='button'>Edit job post</button></a>
</div>
{% endblock %}
