{% extends 'base_logged_out.html' %}

{% block content %}
<div id='jobs_title'>
  <h1>Jobs</h1>
</div>

  <div id="jobs_list">
    <a href="/login">
      <div id='post_job'><button id='post_jobs_button'>Login to post a new job</button></div>
    </a>


        {% for post in posts %}
          <div class='post'>
            <a href="{% url 'post_detail' pk=post.pk %}">
                <h1>{{ post.title }}</h1>
                <p> {{ post.owned_by_company }} </p>
                <p> {{ post.location }} </p>
                <p> {{ post.description|linebreaksbr }}</p>
            </a>
          </div>
        {% endfor %}
</div>
{% endblock %}
