

{% extends 'base_logged_out.html' %}

{% block content %}

<form method="POST">
    <div id="login_header"><h1>Login</h1></div>
    {% csrf_token %}
    <div id="fields">
      <fieldset>
            <label for='username_field' class="form_label" ">Username</label>
            <input type="text" id="username_field" class="login_field" name="username" placeholder="e.g myusername">
            <div class="form_icon"><i class="fa fa-envelope" aria-hidden="true"></i></div>

      </fieldset>
        <fieldset>
            <label for="password_field" class="form_label">Password</label>
            <input type="password" name="password" class="login_field" id="password_field">
            <div class="form_icon"><i class="fa fa-unlock-alt  fa-lg " aria-hidden="true"></i></i></div>

      </fieldset>
    </div>
    <button type="submit" class="login_button">Login</button>
</form>
{% endblock %}
