{% load staticfiles %}
<!DOCTYPE>
<html>
  <head>
    <title>Job List</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/index_styles.css' %}">
  </head>
  <body>
    <div id="outer_header">
        <div id="inner_header">
            <div id="title">
                <h1><a href='http://127.0.0.1:8000'><h2>The Next Step</h2></a></h1>
            </div>
            <div id="navigation">
              <ul>
                <li><a href='/jobs'>Jobs</a></li>
                <li><a href='https://medium.com/@NextStepCoders'>Blog</a></li>
                <li><a href='/site/contact_us'>Contact Us</a></li>
                <li><a href='/user/register'> Register </a></li>
                <li><a href='/login'> Login </a></li>
                <li><a href='/logout'> Logout</a></li>
                <li><a href='/user/dashboard'>Dashboard</a></li>
              </ul>
            </div>
        </div>
    </div>
    <div id="wrapper">
          <div>
          {% block content %}

          {% endblock %}
        </div>
    </div>

    <div id="footer">
      <div id="footer_outer">
          <div id="footer_1">
            <h1>Hello!</h1>
            <p>Welcome to The Next Step. We’re a London based community, organising
              coding workshops, meet-ups and help to land your dream job.</p>
              <a href='/jobs'><button class='button'> Get started</button></a>
          </div>

          <div id="footer_2">
            <ol>
              <li><h1>Info</h1></li>
              <li><h2><a href='/site/contact_us'>Contact Us</a></h2></l1>
              <li><h2><a href='/site/about_us'>About Us</a></h2></l1>
              <li><h2><a href='https://medium.com/@NextStepCoders'>Blog</a></h2></l1>
            </ol>
          </div>
      </div>
    </div>
    <script type="text/javascript" src="{% static 'js/global.js' %}" ></script>
  </body>
</html>
