{% load staticfiles %}
<!DOCTYPE>
<html>
  <head>
    <title>Job List</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    <div id="header">
      <div id="title">
        <h1>Jobs in Tech</h1>
      </div>
      <div id="navigation">
        <ul>
          <li><a href='http://127.0.0.1:8000'>Home</a></li>
          <li><a href='/jobs'>Jobs</a></li>
          <li><a href='https://medium.com/@NextStepCoders'>Blog</a></li>
          <li>Contact Us</li>
          <li><a href='/user/register'> Register </a></li>
          <li><a href='/login'> Login </a></li>
          <li><a href='/logout'> Logout</a></li>
          <li><a href='/user/dashboard'>Dashboard</a></li>
        </ul>
      </div>
    </div>
    <div id="wrapper">
          <div>
          {% block content %}

          {% endblock %}
        </div>
    </div>

    <div id="footer">
      <div id="footer_1">
        <h1>Hello!</h1>
        <p>Welcome to The Next Step. We’re a London based community, organising
          coding workshops, meet-ups and help to land your dream job.</p>
      </div>
      <div id="footer_2">
        <h1>Find us on twitter</h1>
      </div>
    </div>

  </body>
</html>
